<div class="registration-form">
  <div class="registration-form__info">
    <h3>Sign up for Cats Weekly™️</h3>
    <p>Just fill in the information below and we'll keep you up to date with all the latest and greatest news about
      cats.</p>
  </div>
  <div class="registration-form__fields">
    <input placeholder="First Name" />
    <input placeholder="Last Name" />
    <input placeholder="Email Address" />
    <input placeholder="How many cats do you own?" />
  </div>
  <div class="registration-form__actions">
    <button {{on "click" (fn this.handleSubmit)}}>Sign up</button>
  </div>
</div>