$border-color: #ddd;
$button-background-color: darken(#ff3d3d, 16%);
$button-text-color: white;
$focus-ring-color: darken(#b1c2de, 10%);

// Workshop Exercise Styles

.registration-form input {
}

fieldset {
  border-color: $border-color;
  border-style: solid;
  border-width: 1px;
  padding: 1.5rem 1rem;
}

legend {
  font-weight: bold;
}

.registration-form button {
  background: $button-background-color;
  color: $button-text-color;
}

.registration-form input:focus,
.registration-form button:focus {
  outline: 3px solid $focus-ring-color;
}

::-webkit-input-placeholder {
  color: #767676;
  opacity: 1;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #767676;
  opacity: 1;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #767676;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #767676;
  opacity: 1;
}

// End Workshop Exercise Styles

// Layout Styles
// These should not need to be adjusted for the workshop.

.registration-form {
  margin: 0 auto;
  max-width: 36rem;
  padding: 0 1rem 1rem 1rem;
  border: 1px solid $border-color;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.registration-form__fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.registration-form__fields input {
  font-size: 1rem;
  border-radius: 3px;
  appearance: none;
  border: 1px solid $border-color;
  padding: 0.375rem 0.5rem;
  margin-bottom: 1.25rem;
}

.registration-form__actions button {
  font-size: 1rem;
  border-radius: 3px;
  border: none;
  padding: 0.375rem 0.5rem;
  width: 100%;
}
